{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>BNS</title>
</head>
<body>
    <main>
        <div class="form-style">
         <form action "{% url 'home' %} method="POST">
            {% csrf_token %}
            <div class="form-group box">
              {% include 'partials/messages.html' %}
              <label>Nome Completo</label>
              <input type="text" class="form-control" name="nome" placeholder="Digite seu nome...">
              
              <label>CPF</label>
              <input type="text" class="form-control" name="cpf"  placeholder="Digite seu CPF...">
              
              <label>Telefone</label>
              <input type="text" class="form-control" name="telefone"  placeholder="Digite seu telefone com DDD...">
              
              <br>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div>
    </main>
</body>
</html>